* {
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  text-decoration: none;
  font-size: 14px;
  font-family: var(--font-montserrat);
  background-color: white;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  color: var(--color-darkgrey);
  /* height: 20000px; */
}

:root {
  --color-black: #161616;
  --color-white: #ffffff;
  --color-azure: #f0ffff;
  --color-grey: #808080;
  --color-darkgrey: #2c2c2c;
  --color-lightgrey: #eee;

  --font-montserrat: "Montserrat", sans-serif;
  --font-titillium: "Titillium Web", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-jetbrains: "JetBrains Mono", monospace;
  --font-onesans: "AR One Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --margin-section: 10rem;
}

/* ########################################################################################################################### */

.navigation {
  margin: 0.2px;
  box-sizing: border-box;
  display: grid;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.navigation .merk {
  width: 150px;
  height: 150px;
  background-image: url(img/logo-books.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: 1 / 1 / 2 / 2;
}

.navigation .navs {
  display: flex;
  flex-direction: column;
  justify-content: end;
  grid-area: 1 / 2 / 2 / 3;
}

.navigation .navs .nav-text {
  padding-bottom: 4px;
}

.navigation .navs .nav-text a {
  margin-left: 18px;
  padding: 0 15px;
  text-decoration: none;
  font-family: var(--font-montserrat);
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-darkgrey);
}

.navigation .navs .nav-text a:hover {
  text-decoration: underline 2px;
}

.navigation .border-first {
  border-bottom: 4px var(--color-darkgrey) solid;
  padding-top: 10px;
}
.navigation .border-second {
  border-bottom: 4px var(--color-darkgrey) solid;
  padding-top: 10px;
  width: 80%;
}
.navigation .border-third {
  padding-top: 10px;
  border-bottom: 4px var(--color-darkgrey) solid;
  width: 60%;
}
.navigation .border-fourth {
  padding-top: 10px;
  border-bottom: 4px var(--color-darkgrey) solid;
  width: 45%;
}
.navigation .border-fifth {
  padding-top: 10px;
  border-bottom: 4px var(--color-darkgrey) solid;
  width: 30%;
}

/*  */
/*  */

.home {
  margin: 80px 2vw;
}

.home .home-head {
  width: 40%;
  margin: 0 auto;
}
.home .home-head h1 {
  font-family: var(--font-onesans);
  font-size: 2.7rem;
  text-align: center;
}
.home .home-head span {
  font-family: var(--font-roboto);
}
.home .home-head p {
  padding-top: 16px;
  font-family: var(--font-titillium);
  font-size: 1.03rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.home .home-q {
  margin: 100px auto 50px;
  border-bottom: #2c2c2c dashed 2px;
  width: max-content;
}
.home .home-q h2 {
  font-family: var(--font-onesans);
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}

.home .home-card-info {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 22%);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 40px;
  justify-content: center;
}
.home .home-card-info .card {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: var(--color-lightgrey);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.home .home-card-info .card i {
  font-size: 50px;
}
.home .home-card-info .card h3 {
  font-family: var(--font-jetbrains);
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
}
/*  */
/*  */

.offers {
  margin-top: var(--margin-section);
  background-color: var(--color-lightgrey);
}

.offers .content {
  padding: 3rem 7%;
}

.offers .content .content-head-text {
  display: flex;
  justify-content: start;
  align-items: center;
}

.offers .content .content-head-text h2 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  border-radius: 5px;
  padding-right: 5px;
}

.offers .content .content-head-text i {
  font-size: 1.3rem;
  transform: translateY(3px);
}

.offers .content .books-recom {
  padding: 3rem 0;
  display: flex;
  gap: 10rem;
  justify-content: start;
}

.books-recom .books-list {
  display: flex;
  background-color: var(--color-white);
  border-radius: 5px;
}

.books-recom .books-list .details {
  max-width: 270px;
  padding: 15px;
  padding-right: 20px;
  letter-spacing: 0.7px;
}
.details {
  display: none;
}

.books-recom .books-list .details ul > li {
  padding-bottom: 10px;
  font-size: 0.9rem;
  font-weight: 600;
}
.books-recom .books-list .details .desc {
  padding-top: 20px;
  font-size: 0.8rem;
}

.books-recom .books-list:hover {
}

.books-recom .books-list .books-card {
  font-family: var(--font-onesans);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.7px;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
  background-color: var(--color-white);
}

.books-recom .books-list .books-card .title {
  padding: 20px;
}

.books-recom .books-list .pics {
  height: 300px;
  border-bottom: 1px solid black;
}

/*  */
/*  */

.top-section {
  margin: calc(var(--margin-section) / 2) 7%;
}

.top-section h1 {
  font-size: 3rem;
  font-family: var(--font-poppins);
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}
.top-section h1::after {
  content: "";
  position: absolute;
  width: 100%;
  margin-left: 10px;
  border: 2px solid var(--color-darkgrey);
  transform: translateY(34px);
}

.top-section .chart-filter {
  margin-top: 1.7rem;
}

.top-section .chart-filter .date-sort {
  display: flex;
}
.top-section .chart-filter .date-sort h3 {
  font-size: 1.1rem;
  font-weight: 400;
}
.top-section .chart-filter .date-sort i {
  font-size: 1.3rem;
}

.top-section .chart-filter .date-chart {
  margin-top: 0.5rem;
  display: flex;
  gap: 30px;
}
.top-section .chart-filter .date-chart {
}

.top-section .chart-filter .date-chart :where(.weeks, .months, .years) {
  padding: 10px;
  font-size: 1.1rem;
  font-family: var(--font-jetbrains);
  font-weight: 500;
  text-transform: uppercase;
  border: 2px solid var(--color-darkgrey);
  cursor: pointer;
}

.top-section .chart-filter .date-chart {
}
/*  */
/*  */
/*  */
/*  */

/* @keyframes fadeInAnimation {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
} */
